dist: xenial   # required for Python >= 3.7
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - wget https://raw.githubusercontent.com/titu1994/keras-coordconv/master/coord.py
# command to run tests
script:
  - pytest  --cov=.
after_success:
  - codecov
